# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Cython / Core source (IP)
# ===============================
core_binary/*.pyx
core_binary/*.c
core_binary/*.cpp

# ===============================
# Build artifacts
# ===============================
build/
dist/

# ===============================
# Virtual environments
# ===============================
.venv/
venv/

# ===============================
# Data & outputs
# ===============================
data/
outputs/
results/
evaluation/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/